.message-post{
    background-color: #F0F0F0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
}

.dark .message-post{
    border-top: #525151 1px solid;
}

.content-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
}

.message{
    font-size: 0.8em;
    border: none;
    width: 90%;
    background: #FFF;
    border-radius: 100px;
    padding:10px;
}

.dark .message{
    color: #edefee;
}

.message:focus{
    outline: none;
}

.message::placeholder{
    color: #AAA;
}

.icon-emoji-message{
    width: 23px;
    height: 23px;
    margin-right: 20px;
}

.icon-send-message{
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.action-message{
    background: none;
    border: 0;
    font-weight: 700;
    color: rgba(var(--d69,0,149,246),1);
    cursor: pointer;
}

.disabled{
    color:rgba(100, 193, 255, 0.8);
}

@media(max-width: 800px){
    .action-message{
        width: 20%;
        max-width: 100px;
    }
}