
.content-chat-message{
    display: flex;
    align-items: center;
}

.content-chat-message.own{
    justify-content: flex-end;
}


.chat-message{
    font-size: 14.2px;
    line-height: 19px;
    padding:6px 7px 0 9px;
    border-radius: 7.5px;
    border: 1px solid #dbdbdb;
    margin-left: 10px;
    margin-bottom: 8px;
    max-width: 65%;
    background-color: #fff;    
    box-shadow: 0 1px 2px rgba(0,0,0,.13);
    box-sizing: initial;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
}

.dark .chat-message{
    filter: invert();
    background-color: #525151;
    border: 1px solid #525151;
    color: #fff;
}

.chat-message::after{
    content:"";
    width: 15px; 
    height: 10px; 
    border: 3px solid #fff(255, 255, 255); 
    border-radius: 2px 2px ;
    background: #fff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    position: absolute;
    top:0px;
    left:-2px;
    right: unset;
}

.dark .chat-message::after{
    top: -1px;
    background-color: #525151;
}

.message-chat{
    padding-right: 50px;
}

.chat-message-time{
    font-size: 0.7em;
    color: rgba(0,0,0,0.45);
    display: flex;
    justify-content: flex-end;
    margin: -8px 0;
    padding-bottom: 8px;
}

.dark .chat-message-time{
    filter: invert();
}

.chat-message-check{
    width: 15px;
    margin-left: 3px;
    margin-bottom: -3px;
}

.chat-message.own{
    margin-right: 10px;
    background-color: #dcf8c6;
}
.chat-message.own::after{
    left: unset;
    top: 0;
    right: -2px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background-color: #dcf8c6;
}

.dark .chat-message.own{
    color: #525151;
}

.dark .chat-message.own .chat-message-time{
    color: #525151;
}
  
@media screen and (max-width:1300px){
    .chat-message{
        max-width: 75%;
    }
  }

@media screen and (max-width:1300px){
    .chat-message{
        max-width: 85%;
    }
}