.content-direct{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 72px;
}

.content-direct:hover{
    background-color: #f5f5f5;
}

.dark .content-direct:hover{
    background-color: #eee;
}

.content-direct.select{
    background-color: #ebebeb;
}

.dark .content-direct.select{
    background-color: #ddd ;
}

.direct{
    display: flex;
    width: 93%;
}

.content-direct .default-img, .content-direct .img-account{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 16px;
}

.direct-user{
    display: flex;
    justify-content: space-between;
    font-size: 0.85em !important;
}

.direct-line-bottom{
    background-color: #f5f5f5;
    width: calc(100% - 85px);
    height: 0.7px;
    border: none;
    position: absolute;
    bottom: -10px;
    right: 5px;
}

.direct-line-bottom{
    background-color: #ddd;
}

.direct-user, .direct-message{
    font-size: 14px;
}

.direct-message{
    color: rgba(0, 0, 0, 0.6);
}

.dark .direct-message{
    filter: invert();
    color:#777;
}

.unread .direct-user, .unread .direct-message{
    font-weight: 500;
    color: #000;
}

.dark .unread  .direct-message{
    color: #fff;
}  

.time-notif{
    position: absolute;
    right: 10px;
    color: #999999;
    text-transform: lowercase;
    font-size: 0.6em;
    top: 8px;
}

.unread .time-notif{
    color: rgba(0, 0, 0, .8)
}

.direct-unread{
    position: absolute;
    background-color: #06d755;
    color:#fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 20.39px;
    height: 20.39px;
    border-radius: 50%;
    right: 10px;
}

.dark .direct-unread{
    filter: invert();
}