.content-chat-day{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-day{
    background-color: #e1f5feeb;    
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
    padding: 10px;
    border-radius: 7.5px;
    font-size: 0.6em;
    margin-bottom: 8px;
}

.dark .chat-day{
    filter: invert();
}
