.content-profile-stats{
    text-align: center;
    background-color: #ededed !important;
    height: calc(100% - 108px);
}

.center-stat{
    width: 95%;
    margin: 0 auto;
}

.profile-img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin: 28px 0;
    border-radius: 50%;
}

.info-stat{
    margin: 4px 20px 28px 30px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 20px;
}